.container {
    text-align: center;
    margin-top: 50px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    /* Font cinese di base */
    font-family: "Microsoft JhengHei", sans-serif;
}

#randomTerm {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    /* Font cinese di base */
    font-family: "Microsoft JhengHei", sans-serif;
}
